@using Rocy
@model Rocy.Models.ViewModels.ProductVM


<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="row">
            <h3 class="text-info pl-3">Add Product</h3>

        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <input type="hidden" asp-for="product.Id" />
                        <label asp-for="product.Name"></label>

                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="product.Name" class="form-control">
                        <span asp-validation-for="product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="product.Price" class="form-control">
                        <span asp-validation-for="product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea id="summernote" asp-for="product.Description" class="form-control"></textarea>

                        <span asp-validation-for="product.Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select Id="CategoryId" asp-for="product.CategoryId" asp-items="@Model.CategoryList"
                            class="form-control">
                            <option disabled selected>Select the category</option>
                        </select>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="product.ApplicationTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select Id="ApplicationTypeId" asp-for="product.ApplicationTypeId"
                            asp-items="@Model.ApplicationType" class="form-control">
                            <option disabled selected>Select the ApplicationType</option>
                        </select>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">

                    </div>
                    <div class="col-8">
                        <input type="file" multiple Id="UploadBox" name="Files" class="form-control">
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" onclick="return validateinput()" class="btn btn-primary w-100"
                                value="save" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (@Model.product != null)
                {
                    <img src="@AppConst.ProductImagePath@Model.product.Image" width="100%" class="p-3" />
                }

            </div>
        </div>
    </div>

</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300,
        });
    });
    function validateinput() {
        if (document.getElementById("UploadBox").value == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'please upload an image!',

            })
            return false;
        } else {
            return true;
        }
    }

</script>
}