@using Rocy
@model Rocy.Models.Product


<form method="post">
    <div class="border p-3">
        <div class="row">
            <h3 class="text-info pl-3">Add Product</h3>

        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>

                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Name" disabled class="form-control">

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Price" disabled class="form-control">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea id="summernote" disabled asp-for="Description" class="form-control"></textarea>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Category.Name" disabled class="form-control">

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">

                    </div>
                    <div class="col-8">
                        <input type="file" disabled multiple Id="UploadBox" name="Files" class="form-control">
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" asp-route-id="@Model.Id" class="btn btn-danger w-100" value="Delete"
                                asp-action="DeletePost" />

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">


                <img src="@AppConst.ProductImagePath@Model.Image" width="100%" class="p-3" />


            </div>
        </div>
    </div>

</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300,
        });
    });
    function validateinput() {
        if (document.getElementById("UploadBox").value == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'please upload an image!',

            })
            return false;
        } else {
            return true;
        }
    }

</script>
}